#result h4{
  display: inline-block;
  float: left;
  margin-right:5px;
}
#editor h4{
  display: inline-block;
  float: left;
  margin-right:5px;
}
@media screen and (max-width:800px){
  #result, #editor{
    width:100%;
  }
}
